.experience {
  background: linear-gradient(to right, #2c3e50, #34495e);
}

.experience .vertical-timeline::before {
  background: #3e497a;
}

.experience .vertical-timeline-element--education,
.experience .vertical-timeline-element--work {
  box-shadow: none !important;
}

.experience .vertical-timeline-element:nth-child(odd) .vertical-timeline-element-content {
  background: #fff !important;
  color: #333 !important;
}

.experience .vertical-timeline-element:nth-child(even) .vertical-timeline-element-content {
  background: #f0f0f0 !important;
  color: #333 !important;
}

.vertical-timeline-element-date {
  color: white !important;
}

.vertical-timeline-element-date:hover {
  color: white !important;
}
