/* Colors */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --highlight-color: #e74c3c;
  --hover-text-color: #00bfff;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.1);
}

.intro-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

h1 {
  margin: 0.5em 0;
  font-size: 2.5em;
  color: var(--primary-color);
  animation: fadeIn 1s ease-in;
}

.intro-text {
  margin: 0.5em 0;
  font-size: 1.2em;
  animation: fadeIn 2s ease-in;
}

.stats {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.stat {
  margin: 0 1em;
  text-align: center;
}

.stat-value {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--highlight-color);
  animation: fadeIn 3s ease-in;
}

.stat-key {
  font-size: 1em;
  animation: fadeIn 3s ease-in;
}

.skills {
  background: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  animation: fadeIn 4s ease-in;
}

.skills .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills .item {
  margin: 10px;
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.skills .item:hover {
  transform: scale(1.2);
  color: var(--hover-text-color);
}

.skills .item h3,
.skills .item p {
  transition: color 0.3s ease-in-out;
}

.skills .item:hover h3,
.skills .item:hover p {
  color: var(--hover-text-color);
}

.contact {
  text-align: center;
  margin-top: 40px;
  animation: fadeIn 5s ease-in;
}

.contact .social-links a {
  margin: 0 10px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact .social-links a:hover {
  color: var(--highlight-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .intro-container {
    padding: 0 10px;
  }

  h1 {
    font-size: 2em;
  }

  .skills .item {
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 1.5em;
  }

  .skills .item {
    margin: 5px;
    padding: 5px;
  }
}
